<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <connectionStrings>
    <add name="MaddyCompact" providerName="System.Data.SqlServerCe" connectionString="Data Source = ..\..\Maddy.sdf" />

    <add name="MaddyExpress" providerName="System.Data.SqlClient" 
         connectionString="Data Source=.\SQLEXPRESS; AttachDbFilename = Data Source=.\SQLEXPRESS;AttachDbFilename=R:\Codeplex\TFS02\EntityOH\EntityOHSamples\MaddyExpress.mdf; Integrated Security=True; User Instance=True" />

    <add name="MaddyAccess" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\MaddyAccess.mdb;User Id=admin; Password=;" />

    <add name="MaddyExcel" providerName="System.Data.OleDb" connectionString='Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\..\MaddyExcel.xlsx;Extended Properties="Excel 12.0 Xml;HDR=YES"' />
    
    
  </connectionStrings>
</configuration>