<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <connectionStrings>
    <add name="SqlDb" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=R:\Codeplex\TFS02\EntityOH\EntityOHTest\SqlServerUnitDatabaseTest.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"/>
  </connectionStrings>
</configuration>